/**********************************************************************************

	put here your custom CSS code to modify the design of IceTheme template
	
	* We strongly reccommend you to not edit other CSS or Less files as in 
	case you will update the template all your changes might be lost.	
	
**********************************************************************************/


.my_google_maps{



}

#map {
        height: 100%;
      }

            html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }